<<<<<<< HEAD
=======
@font-face {
    font-family: 'Super Cottage';
    src: url('../font/Super Cottage.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Super Cottage', sans-serif;
}

>>>>>>> d049f5e2fea3c26a53af7cfd1892168f0d088619
header {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
<<<<<<< HEAD
    padding: 10px;
=======
    padding-top: 1%;
    padding-bottom: 1%;
>>>>>>> d049f5e2fea3c26a53af7cfd1892168f0d088619
    width: 100%;
}

.titre {
    color: white;
    text-align: start;
    font-size: 2em;
    text-decoration: none;
}

header > a {
    color: #fff;
    text-decoration: none;
}

header > a:hover {
    color: aqua;
    
}