<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/css/Accueil.css">
    </head>
    <body>
        <header>
            <h2>Challenge 48h - Le coffre à 4 clés</h2>
        </header>
        <main>
            <div class="carrousel">
                <img src="../assets/img/background.png" alt="">
                <img src="../assets/img/background.png" alt="">
            </div>
            <h1>Choix des ïles</h1>
            <div class="support">
                <a class="island-top" href="">
                    <img src="../assets/img/island.png" alt="" class="islandImg">
                </a>
                <a class="island-bot" href="">
                    <img src="../assets/img/lock_island.png" alt="" class="islandImg">
                </a>
                <a class="coffre" href="">
                    <img src="../assets/img/chest_island.png" alt="">
                </a>
                <a class="island-bot" href="">
                    <img src="../assets/img/lock_island.png" alt="" class="islandImg">
                </a>
                <a class="island-top" href="">
                    <img src="../assets/img/lock_island.png" alt="" class="islandImg">
                </a>
                
            </div>
            <button class="start">Commencer</button>
        </main>
        
        <script src="" async defer></script>
    </body>
</html>