<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/header.css">
        <link rel="stylesheet" href="/assets/css/chest.css">
    </head>
    <body>
        <header>
            <a href="/accueil" class="titre">Challenge 48h - Le coffre à 4 clés</a>
            <p class="timer">00:00</p>
            <a href="/connect">Se connecter</a>
        </header>
        <form action="/chestCode" method="post">
            <label for="code">Ce code indique l'année où un jeu va changer radicalement le monde des jeux sur PC.</label>
            <div class="inputDiv">
                <input type="number" name="code" min="1" max="9" class="code" placeholder="_">
                <input type="number" name="code" min="1" max="9" class="code" placeholder="_">
                <input type="number" name="code" min="1" max="9" class="code" placeholder="_">
                <input type="number" name="code" min="1" max="9" class="code" placeholder="_">
            </div>
            <p type="submit">tester</p>
        </form>

        <div class="support">
            <img src="/assets/img/key_1.png" alt="" class="extImg_left">
            <img src="/assets/img/key_2.png" alt="" class="intImg_left">
            <img src="/assets/img/chest_island.png" alt="" class="coffre">
            <img src="/assets/img/key_3.png" alt="" class="intImg_right">
            <img src="/assets/img/key_4.png" alt="" class="extImg_right">
        </div>
        <script src="/assets/js/timer.js"></script>
        <script src="" async defer></script>
    </body>
</html>